{% block title %}
    <title>{{ t('Prodaja|Stavke') }}</title>
{% endblock %}

{% extends "@layout/main.html.twig" %}
{% set client = purchase.client %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="card ibox float-e-margins box-shadow">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="space-20"></div>
                            <h1 class="text-center m-b-lg m-t-lg">Prodaja -
                                <a class="text-warning" href="/clients/overiview/{{ client.id }}">{{ client }}</a></h1>
                            <ul class="list-group clear-list m-t">
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Garantor:</div>
                                        <div class="col-xs-8">
                                            {% if purchase.guarantor %}
                                            <a href="/clients/overview/{{ purchase.guarantor.id }}" class="text-warning">{{ purchase.guarantor }}</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>

                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Email:</div>
                                        <div class="col-xs-8">
                                            {{ client.email }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Tip klijenta:</div>
                                        <div class="col-xs-8">
                                            {{ client.type == 'NATURAL' ? 'Fizičko lice' : 'PRavno lice' }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Grad:</div>
                                        <div class="col-xs-8">
                                            {{ client.city }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Telefon:</div>
                                        <div class="col-xs-8">
                                            {{ client.phoneNumber }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Adresa:</div>
                                        <div class="col-xs-8">{{ client.address }}</div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">{{ client.type == 'NATURAL' ? 'Jmbg' : 'PIB' }}:</div>
                                        <div class="col-xs-8">
                                            {{ client.type == 'NATURAL' ? client.jmbg : client.pib }}
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12 col-sm-12 col-lg-6">
                                    <div class="">
                                        <div class="col-xs-4">Postanski broj:</div>
                                        <div class="col-xs-8">{{ client.postalCode }}</div>
                                    </div>
                                </li>
                                <li class="list-group-item col-xs-12"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card ibox box-shadow">
                <div class="ibox-title">
                    <h2 class="text-center">Registracija
                        <div class="ibox-tools pull-right">
                            <a class="collapse-link small">
                                {% if purchase.registration %}
                                    <i class="fa fa-chevron-up"></i>
                                {% else %}
                                <i class="fa fa-chevron-down"></i>
                                {% endif %}
                            </a>
                            <a class="close-link small">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </h2>

                </div>
                <div class="ibox-content" style="display: {{  purchase.registration ? 'block' : 'none' }}">
                    {% if not purchase.registration %}
                        <div id="registration">
                            {% include '@layout/form.html.twig' with {form : registrationForm, button: t('Add Registration')} only %}
                        </div>
                    {% else %}
                        {% include '@purchase/registration.html.twig' with {registration : purchase.registration} only %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="card ibox float-e-margins box-shadow">
                <div class="ibox-content">
                    <div class="space-20"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="text-center m-b-lg">Proizvodi i Usluge</h2>
                            <table class="table table-stripped tableForm" data-entity="purchase-items" data-action="{{ cipher('/purchases/add-items/' ~ purchase.id) }}">
                                <thead>
                                <tr>
                                    <th class="col-xs-3 text-center">Proizvod</th>
                                    <th class="col-xs-2 text-center">Cena</th>
                                    <th class="col-xs-2 text-center">Količina</th>
                                    <th class="col-xs-4 text-center">Beleška</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for purchaseItem in purchase.getPurchaseItems() %}
                                    <tr data-edit="{{ cipher('/supplier-receipt-items/update/' ~ supplierReceiptItem.id) }}" data-delete="{{ cipher('/supplier-receipt-items/delete/' ~ supplierReceiptItem.id) }}">
                                        <td>{{ purchaseItem.supplierProduct }}</td>
                                        <td class="text-center">{{ purchaseItem.price }}</td>
                                        <td class="text-center">{{ purchaseItem.qty }}</td>
                                        <td class="text-center">
                                            {{ purchaseItem.note1 | raw }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td>{{ form['supplierProduct'].control | raw }}</td>
                                    <td>{{ form['price'].control | raw }}</td>
                                    <td>{{ form['qty'].control | raw }}</td>
                                    <td>{{ form['note1'].control | raw }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
