{% block title %}
    <title>{{ t('Proizvod|List') }}</title>
{% endblock %}

{% extends "@layout/main.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="card ibox float-e-margins box-shadow">
            <div class="ibox-content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="space-20"></div>
                        <table id="dataTable" data-store="productList" class="table table-stripped toggle-arrow-tiny" data-serverside="true" data-ajax-url="{{ cipher('/products/list') }}" data-title="{{ t('Product List') }}">
                            <thead>
                                <tr>
                                    <th data-name="p.code" class="col-xs-3">Kategorija</th>
                                    <th data-name="p.name" class="col-xs-3">Ime</th>
                                    <th data-name="p.description" class="col-xs-4">Opis</th>
                                    <th class="col-xs-2">Akcije</th>
                                </tr>
                                <tr>
                                    <th>{{ form['code'].control | raw }}</th>
                                    <th>{{ form['name'].control | raw }}</th>
                                    <th>{{ form['description'].control | raw }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
