{{ form.render('begin') | raw }}
{{ form.render('errors') | raw }}
{% for element in form.getComponents() %}
    {% if not element.getLabel() %}
        {{ element.control | raw }}
    {% else %}
        {% set control = element.control %}
        {% set classes = control.getAttribute('class') %}
        <div class="row{{ 'hidden' in classes ? ' hidden' : '' }}">
            <div class="col-xs-12 col-sm-10 col-lg-7">
                <div class="form-group">
                    <div class="controls">
                        {% set required = '<span class="">*</span>' %}
                        <label for="account-username" class="inline">{{ element.getLabel() | raw }}{{ element.isRequired() ? required | raw : '' }}</label>
                        {% if element.getControl().getAttribute('type') == 'file' and file %}
                            <div class="input-group">
                                {{ element.control | raw }}
                                <span class="input-group-addon input-group-btn-vertical auto-wide">{{ file }}</span>
                            </div>
                        {% else %}
                            {{ element.control | raw }}
                        {% endif %}
                        <div class="help-block"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col-xs-12 d-flex flex-sm-row flex-column justify-content-end">
        <button type="submit" class="btn btn-default mr-sm-1 mb-1 mb-sm-0">{{ t('Save') }}</button>
    </div>
</div>
{{ form.render('end') | raw }}