{% set url = request.getURI().getPath() %}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul id="side-menu" class="nav metismenu">
            <li class="nav-header">
                {% if session.get('user')|length %}
                    <div class="dropdown profile-element text-center">
                    <span>
                        <img class="img-circle" width="60px" src="{{ session.get('user')['avatar'] }}" alt="image">
                    </span>
                    <div class="space-5"></div>
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                        <span class="clear">
                            <span class="text-muted text-xs block">
                                {{ session.get('user')['name'] }}
                            </span>
                        </span>
                    </a>
                    </div>
                {% endif %}
            </li>
            <li class="{{ request.getURI().getPath() == '/' ? 'active' : '' }}">
                <a href="/">
                    <i class="fa fa-home"></i>
                    <span class="nav-label">{{ t('Home') }}</span>
                </a>
            </li>
            <li class="{{ 'clients' in url ? 'active' : '' }}">
                <a href="#">
                    <i class="fa fa-user-circle"></i>
                    <span class="nav-label">{{ t('Klijenti') }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'client/list' in url ? 'active' : '' }}">
                        <a href="/clients/list">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Pregled Klijenata') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{ 'purchase' in url or 'clients' in url ? 'active' : '' }}">
                <a href="#">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-label">{{ t('Prodaja') }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'purchases/list' in url ? 'active' : '' }}">
                        <a href="/purchases/list">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Pregled Kupovine') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{{ 'products' in url or 'suppliers' in url ? 'active' : '' or 'supplier-receipt' in url ? 'active' }}">
                <a href="#">
                    <i class="fa fa-product-hunt"></i>
                    <span class="nav-label">{{ t('Roba i Usluge') }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" style="">
                    <li class="{{ 'products/list/1' in url ? 'active' : '' }}">
                        <a href="/products/list/1">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Pregled Robe') }}</span>
                        </a>
                    </li>
                    <li class="{{ 'products/list/2' in url ? 'active' : '' }}">
                        <a href="/products/list/2">
                            <i class="fa fa-list"></i>
                            <span class="nav-label">{{ t('Pregled Usluga') }}</span>
                        </a>
                    </li>
                    <li class="{{ 'suppliers/list' in url ? 'active' : '' }}">
                        <a href="/suppliers/list">
                            <i class="fa fa-list-alt"></i>
                            <span class="nav-label">{{ t('Pregled Dobavljača') }}</span>
                        </a>
                    </li>
                    <li class="{{ 'supplier-receipts/list' in url ? 'active' : '' }}">
                        <a href="/supplier-receipts/list">
                            <i class="fa fa-receipt"></i>
                            <span class="nav-label">{{ t('Pregled Prijemnica') }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            {% if isAllowed(session.get('user')['id'], '/codes/list') %}
                <li class="{{ 'codes' in url ? 'active' : '' }}">
                    <a href="#">
                        <i class="fa fa-tags"></i>
                        <span class="nav-label">{{ t('Kategorije') }}</span>
                        <span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level collapse" style="">
                        <li class="{{ 'codes/list' in url ? 'active' : '' }}">
                            <a href="/codes/list">
                                <i class="fa fa-list-alt"></i>
                                <span class="nav-label">{{ t('Pregled Kategorija') }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            <li class="{{ 'user/profile' in url ? 'active' : '' }}">
                <a href="/user/profile">
                    <i class="fa fa-user-plus"></i>
                    <span class="nav-label">{{ t('Account Settings') }}</span>
                </a>
            </li>
            {% if isAllowed(session.get('user')['id'], '/user/management') %}
            <li class="{{ 'user/management' in url ? 'active' : '' }}">
                <a href="/user/management">
                    <i class="fa fa-users"></i>
                    <span class="nav-label">{{ t('User Management') }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
